* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
}

.game-container {
    width: 500px;
    height: 300px;
    background-color: rgb(182, 179, 179);    
    display: flex;
    opacity: 0.7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.option-btn {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    padding: 8px;
}